SLACK_TOKEN=https://api.slack.com/authentication/token-types#bot
CHANNEL_ID=<your channel id>
RUST_LOG=debug # debug level
DRY_RUN=false # upload image to slack or dry run
RUST_BACKTRACE=1 # more backtrace when Rust panics
